:root {
    --emerald_green: #008494;
    --site_width: 560px;
}
  
body{
    background: black;
    color: white;
    font-size: 1.8rem;
    overflow: overlay;    /*for scrollbar */
}

h1{
    font-family: 'Major Mono Display', monospace;
    max-width: var(--site_width);
    width: 92vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30vh;
    background: var(--emerald_green);
    box-shadow: 0px 0px 1rem 1.5rem var(--emerald_green);
}

h2{
    font-family: 'Major Mono Display', monospace;
    max-width: var(--site_width);
    width: 92vw;
    margin-right: auto;
    margin-left: auto;
    background: var(--emerald_green);
    box-shadow: 0px 0px 1rem 1.5rem var(--emerald_green);
}

p{
    font-family: 'Merriweather', serif;
    width: 95vw;
    max-width: var(--site_width);
    margin-right: auto;
    margin-left: auto;
    line-height: 130%;
}

img {
    width: 92vw;
    max-width: 900px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid grey;
    border-radius: .8em;
    border-width: .3em;
}

figcaption{
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: .5rem;
}

::-webkit-scrollbar{
    width: .4em;
    /* background-color: transparent; */
}

::-webkit-scrollbar-thumb{
    border-radius: .5em;
    background: var(--emerald_green);
}