body{
    background-color: black;
    color: white;
    font-size: 2em;
}

h1{
    font-family: 'Major Mono Display', monospace;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20vh;
}

p{
    font-family: 'Merriweather', serif;
    width: 500px;
    margin: auto;
}

